.statusBar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 3px;
  z-index: 2;
  background-color: white;
}
.statusBar__column {
  width: 33%;
}
.statusBar__column:first-child {
  display: flex;
  align-items: center;
}

.statusBar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.statusBar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.statusBar__column:first-child span {
  margin-right: 5px;
}
